<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>I am in btech 3rd year from <b>IIIT Vadodara</b>. I have done my Software engineering course in which I had lead the 12 members team . We had made college Management portal in Php and made our front end in Bootstrap.I have used laravel and cakePhp frameworks for website Application development .I have good command on HTML5,JQuery,Bootsrap. Beside College Management System I have made three more projects on Php.  I also worked on front end design of many projects.
I also have an IBM certificate for fundamentals of big Data and Hadoop.
I am currently doing course on Machine Learning and Information Retrieval.
I also have made an Offline Intranet Typeracer in Java in our Computer Network Project. I also have a deep knowledge of data structres and Oops concept in java.
I have made Social Net web application in java servlets and Jsp. </p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
